@charset "UTF-8";

table {
	margin: auto;
}

.roadscannercontainer{
	width: 900px;
	margin: auto;
	margin-top: 25px;
	text-align: center;	
}

.loginbox{
	width: 100%;
    margin-top: 150px;
    
}

.icon{
	height : 60px;
     width : 60px;
    
}

.loginidpwbtn{
    width: 450px;
    height: 60px; 
}


