@charset "UTF-8";

	#container {
	  width: 800px;
	  justify-content: center;
	  align-items: center;
	}
	
	h2 {
	  margin-bottom: 5.5rem;
	}
	
	#div_button01 {
	  margin-top: 20px;
    justify-content: center;
    align-items: center;
	}
	
	#div_button02 {
	  margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  #div_button03 {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }