@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');

	#container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
		font-size: 16px;
	}
	
	#div_button01 {
	  margin-top: 20px;
	  display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
	}
	
	#div_button02 {
	  margin-top: 20px;
	  display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  #div_button03 {
    margin-top: 20px;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }